.form {
}

.form__items {
  margin-bottom: 20px;

  &--fx {
    display: flex;
    margin-left: -15px;
  }
}

.form__item {
  flex: 0 0 100%;

  &--50 {
    flex: 0 0 calc(50% - 15px);
    width: calc(50% - 15px);
    margin-left: 15px;
  }

  &--33 {
    flex: 0 0 calc(33.333% - 15px);
    width: calc(33.3333% - 15px);
    margin-left: 15px;
  }
}
