
:root {
  --bg_main: #e2e7e8;
  --btn_bg: #2f758a;
  --input_border: #2f758a;
  --btn_bg--hover: #4b909b;
  --btn_text: #e8eff1;

  --logo: #225c6e;

  --link_menu: #075359;
  --link_menu--hover: #347d8a;

  --label: #075359;

  --main_font: 'Roboto', 'Roboto Condensed', sans-serif;
  --second_font: 'Roboto Condensed', sans-serif;
}
