<header class="header">
  <div class="header__wrapper">
    <div class="header__logo logo">
      <a routerLink="/" class="logo__block">
          TRAVEL GUIDE
      </a>
    </div>
    <div class="header__right">
      <nav class="header__menu main_menu">
        <ul class="main_menu__wrapper">
          <li class="main_menu__item">
            <a routerLink="/" class="main_menu__link">Главная</a>
          </li>
          <li class="main_menu__item">
            <a routerLink="#" class="main_menu__link">Путешествия</a>
          </li>
          <li class="main_menu__item">
            <a routerLink="#" class="main_menu__link">Карта</a>
          </li>
        </ul>
      </nav>
      <div class="header__auth auth" *ngIf="!accessToken">
        <div class="header__auth_wrapper">
          <div class="auth__sign_in">
            <a routerLink="/auth/sign-in" class="auth__link btn">Sign In</a>
          </div>
          <div class="auth__sign_up">
            <a routerLink="/auth/sign-up" class="auth__link btn">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="header__auth auth" *ngIf="accessToken">
        <button class="btn" type="button" (click)="logout()">Выйти</button>
      </div>
    </div>
  </div>
</header>
